---
title: 8000038 التحقق من الحساب التابع جدبر
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: d6ea5e9458a2b8ceaab3ac4bd483e1130b9a398a
ms.translationtype: MT
ms.contentlocale: ar-SA
ms.lasthandoff: 01/15/2019
ms.locfileid: "28272952"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="19e7f-102">تاريخ الميلاد المعروضة في حساب Microsoft الخاص بك غير صحيح</span><span class="sxs-lookup"><span data-stu-id="19e7f-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="19e7f-p101">مايكروسوفت تأخذ حساب أمان على محمل الجد. كنت قد مؤخرا تمت مطالبتك بتوفير موافقة الوالدين لحساب Microsoft طفل. إذا أردت المساعدة تقديم موافقة الوالدين أو تحديث تاريخ الميلاد على حساب Microsoft، راجع [التحقق من السن لموافقة الوالدين](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="19e7f-p101">Microsoft takes account security very seriously. You may have recently been prompted to provide parental consent for a child's Microsoft account. If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="19e7f-106">معرفة المزيد حول [موافقة الوالدين والحسابات التابعة ل Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="19e7f-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  

