---
title: التحقق من التعليمة العامة
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: ar-SA
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205254"
---
# <a name="edu-verification"></a>التحقق من التعليمة العامة

في معظم الحالات، تتم معالجة طلبات الأهلية الأكاديمية في غضون 24-48 ساعة. قد تتطلب بعض الطلبات مراجعة أكثر دقة وقد تستغرق المعالجة ما يصل إلى 10 أيام عمل. بمجرد الانتهاء، سنرسل رسالة إلكترونية تتضمن حالة الأهلية في مدرستك.

**مهم** إذا خرجت من معالج التحقق قبل الدخول إلى مجال، يمكنك [استئناف معالج التحقق الأكاديمي](https://go.microsoft.com/fwlink/p/?linkid=2135255) في أي وقت أثناء الفترة التجريبية المجانية.

إذا كنت ترغب في التحقق من حالة المجال الخاص بك، انتقل إلى [مركز إدارة Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). في الصفحة الرئيسية، مرر إلى الأسفل وابحث عن بطاقة **الفوترة.** تشير بطاقة **الفوترة** إلى حالة عملية التحقق (تمت الموافقة عليها أو تعليقها أو رفضها أو إضافة نطاقك).

إذا تم رفض طلبك، راجع [مدرستي غير مؤهلة. ماذا أفعل الآن؟](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)