---
title: التحقق من EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 309575a86155d416d587ee034fb7efe2c807e3f3
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: ar-SA
ms.lasthandoff: 09/14/2020
ms.locfileid: "47710326"
---
# <a name="edu-verification"></a>التحقق من EDU

في معظم الحالات ، تتم معالجه طلبات الاستحقاق الأكاديمي خلال 24-48 ساعة. قد تتطلب بعض الطلبات مراجعه أكثر شمولا ويمكن ان تستغرق 10 أيام عمل للمعالجة. بمجرد الانتهاء ، سنرسل بريدا الكترونيا باستخدام حاله أهليه المدرسة.

**هامه** إذا قمت بإنهاء معالج التحقق قبل إدخال مجال ، فيمكنك [استئناف معالج التحقق من الصحة الأكاديمي](https://go.microsoft.com/fwlink/p/?linkid=2135255) في اي وقت اثناء الفترة التجريبية المجانية.

إذا كنت ترغب في التحقق من حاله مجالك ، فانتقل إلى [مركز أداره Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). في الصفحة الرئيسية ، قم بالتمرير إلى الأسفل وابحث عن بطاقة **الفوترة** . تشير بطاقة **الفوترة** إلى حاله عمليه التحقق من الصحة (المعتمدة أو المعلقة أو المرفوضة أو أضافه مجالك).

إذا تم رفض طلبك ، فراجع [المدرسة غير مؤهله. ما الذي يمكنني فعله الآن ؟](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)