---
title: التحقق من وحدة التخصيب
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 7bb3a74137fd6c08165a882923087aac750c6fe4
ms.sourcegitcommit: f573e83f6eddff471449c1c3f292ba23d139b972
ms.translationtype: MT
ms.contentlocale: ar-SA
ms.lasthandoff: 05/07/2020
ms.locfileid: "44138718"
---
# <a name="edu-verification"></a>التحقق من وحدة التخصيب

ستتلقى رسالة بريد إلكتروني تعلمك ما إذا تمت الموافقة على أهلية مؤسستك أم لا.

في بعض الحالات، قد تحتاج إلى الانتظار لمدة تصل إلى 48 ساعة حتى يكتمل التحقق من DNS. يمكنك النقر فوق "سأتحقق لاحقًا" وتعود لاحقًا وسجّل الدخول إلى بوابة Office 365؛ ثم انتقل إلى ** [مركز المسؤول](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/homepage) > الإعدادات** وانقر فوق [النطاقات](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/Domains) للتحقق من إدخال الحالة لنطاقك.

عند الموافقة، يمكنك الانتقال إلى علامة التبويب **[خدمات الشراء](https://go.microsoft.com/fwlink/p/?linkid=868433)** في مركز إدارة Microsoft لشراء الاشتراكات.
