---
title: التحقق من وحدة التخصيب
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 7bb3a74137fd6c08165a882923087aac750c6fe4
ms.sourcegitcommit: f573e83f6eddff471449c1c3f292ba23d139b972
ms.translationtype: MT
ms.contentlocale: ar-SA
ms.lasthandoff: 05/07/2020
ms.locfileid: "44138718"
---
# <a name="edu-verification"></a><span data-ttu-id="3da06-102">التحقق من وحدة التخصيب</span><span class="sxs-lookup"><span data-stu-id="3da06-102">EDU verification</span></span>

<span data-ttu-id="3da06-103">ستتلقى رسالة بريد إلكتروني تعلمك ما إذا تمت الموافقة على أهلية مؤسستك أم لا.</span><span class="sxs-lookup"><span data-stu-id="3da06-103">You'll receive an email letting you know whether your organization's eligibility has been approved.</span></span>

<span data-ttu-id="3da06-104">في بعض الحالات، قد تحتاج إلى الانتظار لمدة تصل إلى 48 ساعة حتى يكتمل التحقق من DNS.</span><span class="sxs-lookup"><span data-stu-id="3da06-104">In some cases, you may need to wait up to 48 hours for the DNS verification to complete.</span></span> <span data-ttu-id="3da06-105">يمكنك النقر فوق "سأتحقق لاحقًا" وتعود لاحقًا وسجّل الدخول إلى بوابة Office 365؛ ثم انتقل إلى \*\* [مركز المسؤول](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/homepage) > الإعدادات\*\* وانقر فوق [النطاقات](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/Domains) للتحقق من إدخال الحالة لنطاقك.</span><span class="sxs-lookup"><span data-stu-id="3da06-105">You can click “I'll verify later” and come back later and log into the Office 365 portal; then go to **[Admin center](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/homepage) > Settings** and click [Domains](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/Domains) to check the status entry for your domain.</span></span>

<span data-ttu-id="3da06-106">عند الموافقة، يمكنك الانتقال إلى علامة التبويب **[خدمات الشراء](https://go.microsoft.com/fwlink/p/?linkid=868433)** في مركز إدارة Microsoft لشراء الاشتراكات.</span><span class="sxs-lookup"><span data-stu-id="3da06-106">When you are approved, you can go to the **[Purchase services](https://go.microsoft.com/fwlink/p/?linkid=868433)** tab of Microsoft admin center to purchase subscriptions.</span></span>
