---
title: التحقق من صحة EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 24a9cd94272f4103fe404bf86e519582138e6b37734e11715b72ebcd2de9d5cb
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: ar-SA
ms.lasthandoff: 08/05/2021
ms.locfileid: "53946675"
---
# <a name="edu-verification"></a>التحقق من صحة EDU

في معظم الحالات، تتم معالجة طلبات الأهلية الأكاديمية في غضون 24-48 ساعة. قد تتطلب بعض الطلبات مراجعة أكثر دقة وقد تستغرق معالجة ما يصل إلى 10 أيام عمل. بمجرد الانتهاء، سنرسل بريدا إلكترونيا مع حالة الأهلية لمدرستك.

**هام** إذا قمت بالخروج من معالج التحقق قبل [](https://go.microsoft.com/fwlink/p/?linkid=2135255) إدخال مجال، يمكنك استئناف معالج التحقق الأكاديمي في أي وقت أثناء الإصدار التجريبي المجاني.

إذا كنت تريد التحقق من حالة مجالك، فاذهب إلى [مركز مسؤولي Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). في الصفحة الرئيسية، قم بالتمرير إلى الأسفل واعثر على **بطاقة الفوترة.** تشير **بطاقة الفوترة** إلى حالة عملية التحقق (تمت الموافقة عليها أو تعليقها أو رفضها أو إضافة مجالك).

إذا تم رفض طلبك، فشاهد [مدرستي غير مؤهلة. ماذا أفعل الآن؟](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)