---
title: التحقق من صحة EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: MT
ms.contentlocale: ar-SA
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814359"
---
# <a name="edu-verification"></a><span data-ttu-id="84d9b-102">التحقق من صحة EDU</span><span class="sxs-lookup"><span data-stu-id="84d9b-102">EDU verification</span></span>

<span data-ttu-id="84d9b-103">في معظم الحالات، تتم معالجة طلبات الأهلية الأكاديمية في غضون 24-48 ساعة.</span><span class="sxs-lookup"><span data-stu-id="84d9b-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="84d9b-104">قد تتطلب بعض الطلبات مراجعة أكثر دقة وقد تستغرق معالجة ما يصل إلى 10 أيام عمل.</span><span class="sxs-lookup"><span data-stu-id="84d9b-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="84d9b-105">بمجرد الانتهاء، سنرسل بريدا إلكترونيا مع حالة الأهلية لمدرستك.</span><span class="sxs-lookup"><span data-stu-id="84d9b-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="84d9b-106">**هام** إذا قمت بالخروج من معالج التحقق قبل [](https://go.microsoft.com/fwlink/p/?linkid=2135255) إدخال مجال، يمكنك استئناف معالج التحقق الأكاديمي في أي وقت أثناء الإصدار التجريبي المجاني.</span><span class="sxs-lookup"><span data-stu-id="84d9b-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="84d9b-107">إذا كنت تريد التحقق من حالة مجالك، فاذهب إلى مركز إدارة [Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="84d9b-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="84d9b-108">في الصفحة الرئيسية، قم بالتمرير إلى الأسفل واعثر على **بطاقة الفوترة.**</span><span class="sxs-lookup"><span data-stu-id="84d9b-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="84d9b-109">تشير **بطاقة الفوترة** إلى حالة عملية التحقق (تمت الموافقة عليها أو تعليقها أو رفضها أو إضافة مجالك).</span><span class="sxs-lookup"><span data-stu-id="84d9b-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="84d9b-110">إذا تم رفض طلبك، فشاهد [مدرستي غير مؤهلة. ماذا أفعل الآن؟](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="84d9b-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>