---
title: التحقق من EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 309575a86155d416d587ee034fb7efe2c807e3f3
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: ar-SA
ms.lasthandoff: 09/14/2020
ms.locfileid: "47710326"
---
# <a name="edu-verification"></a><span data-ttu-id="06de8-102">التحقق من EDU</span><span class="sxs-lookup"><span data-stu-id="06de8-102">EDU verification</span></span>

<span data-ttu-id="06de8-103">في معظم الحالات ، تتم معالجه طلبات الاستحقاق الأكاديمي خلال 24-48 ساعة.</span><span class="sxs-lookup"><span data-stu-id="06de8-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="06de8-104">قد تتطلب بعض الطلبات مراجعه أكثر شمولا ويمكن ان تستغرق 10 أيام عمل للمعالجة.</span><span class="sxs-lookup"><span data-stu-id="06de8-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="06de8-105">بمجرد الانتهاء ، سنرسل بريدا الكترونيا باستخدام حاله أهليه المدرسة.</span><span class="sxs-lookup"><span data-stu-id="06de8-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="06de8-106">**هامه** إذا قمت بإنهاء معالج التحقق قبل إدخال مجال ، فيمكنك [استئناف معالج التحقق من الصحة الأكاديمي](https://go.microsoft.com/fwlink/p/?linkid=2135255) في اي وقت اثناء الفترة التجريبية المجانية.</span><span class="sxs-lookup"><span data-stu-id="06de8-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="06de8-107">إذا كنت ترغب في التحقق من حاله مجالك ، فانتقل إلى [مركز أداره Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="06de8-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="06de8-108">في الصفحة الرئيسية ، قم بالتمرير إلى الأسفل وابحث عن بطاقة **الفوترة** .</span><span class="sxs-lookup"><span data-stu-id="06de8-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="06de8-109">تشير بطاقة **الفوترة** إلى حاله عمليه التحقق من الصحة (المعتمدة أو المعلقة أو المرفوضة أو أضافه مجالك).</span><span class="sxs-lookup"><span data-stu-id="06de8-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="06de8-110">إذا تم رفض طلبك ، فراجع [المدرسة غير مؤهله. ما الذي يمكنني فعله الآن ؟](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="06de8-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>