---
title: 8000038 التحقق من صحة حساب الطفل في GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 844679cba6b109a2c552c38e1884040cd545cd260930eb7aabed6ed0911c8a50
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: ar-SA
ms.lasthandoff: 08/05/2021
ms.locfileid: "54056981"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>تاريخ الميلاد المعروض في حساب Microsoft غير صحيح

تأخذ Microsoft الأمان في الاعتبار على محمل الجد. من الممكن أن تكون قد تم مطالبتك مؤخرا بتقديم موافقة الوالدين لحساب Microsoft الخاص بطفل. إذا كنت بحاجة إلى مساعدة في توفير موافقة الوالدين أو تحديث تاريخ الميلاد على حساب Microsoft، فا راجع التحقق من العمر للحصول على [موافقة الوالدين](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
تعرف على المزيد حول [موافقة الوالدين وحسابات الأطفال من Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  