---
title: 8000038 التحقق من الحساب التابع جدبر
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 13e69ac917a08a338759269df5724c0528dd2eb0
ms.sourcegitcommit: 1d98db8acb9959aba3b5e308a567ade6b62da56c
ms.translationtype: MT
ms.contentlocale: ar-SA
ms.lasthandoff: 08/22/2019
ms.locfileid: "36524398"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>تاريخ الميلاد المعروضة في حساب Microsoft الخاص بك غير صحيح

مايكروسوفت تأخذ حساب أمان على محمل الجد. كنت قد مؤخرا تمت مطالبتك بتوفير موافقة الوالدين لحساب Microsoft طفل. إذا أردت المساعدة تقديم موافقة الوالدين أو تحديث تاريخ الميلاد على حساب Microsoft، راجع [التحقق من السن لموافقة الوالدين](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
معرفة المزيد حول [موافقة الوالدين والحسابات التابعة ل Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  