---
title: 8000038 التحقق من حساب الطفل GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: ar-SA
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764967"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>تاريخ الميلاد المعروض في حساب Microsoft غير صحيح

مايكروسوفت تأخذ الأمن في الاعتبار على محمل الجد. ربما تمت مطالبتك مؤخرًا بتقديم موافقة الوالدين لحساب Microsoft الخاص بالطفل. إذا كنت بحاجة إلى مساعدة في تقديم موافقة الوالدين أو تحديث تاريخ الميلاد على حساب Microsoft، راجع [التحقق من العمر للحصول على موافقة الوالدين.](https://go.microsoft.com/fwlink/p/?linkid=874364)
  
تعرف على المزيد عن [موافقة الوالدين وحسابات Microsoft التابعة](https://go.microsoft.com/fwlink/p/?linkid=874365).
  