---
title: 8000038 التحقق من الحساب التابع جدبر
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom: 8000038
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: c664adf9fdb0306b3407a5c23628aa4c7bbd5b83
ms.sourcegitcommit: 03a156a9c9740521155a30775492c7dff0982588
ms.translationtype: MT
ms.contentlocale: ar-SA
ms.lasthandoff: 03/22/2019
ms.locfileid: "30775824"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="45275-102">تاريخ الميلاد المعروضة في حساب Microsoft الخاص بك غير صحيح</span><span class="sxs-lookup"><span data-stu-id="45275-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="45275-103">مايكروسوفت تأخذ حساب أمان على محمل الجد.</span><span class="sxs-lookup"><span data-stu-id="45275-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="45275-104">كنت قد مؤخرا تمت مطالبتك بتوفير موافقة الوالدين لحساب Microsoft طفل.</span><span class="sxs-lookup"><span data-stu-id="45275-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="45275-105">إذا أردت المساعدة تقديم موافقة الوالدين أو تحديث تاريخ الميلاد على حساب Microsoft، راجع [التحقق من السن لموافقة الوالدين](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="45275-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="45275-106">معرفة المزيد حول [موافقة الوالدين والحسابات التابعة ل Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="45275-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  

