---
title: استكشاف أخطاء التحقق من الناشر وإصلاحها
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: ar-SA
ms.lasthandoff: 01/15/2021
ms.locfileid: "49884759"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>المشاكل المتعلقة بالتحقق من الناشرين للمطورين

**الخطوات الموصي بها** 

لحل المشاكل المتعلقة بالتحقق من الصحة في publisher ، قم بتنفيذ الخطوات التالية:

1. راجع المتطلبات الاساسيه والمتطلبات الأخرى لضمان استيفاء الكل.
2. راجع الإرشادات [لوضع علامة علي تطبيق لان publisher تم التحقق](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) منه والتاكد من تنفيذ كل الخطوات بنجاح.
3. راجع قائمه [المشاكل الشائعة](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) واتبع الخطوات الموصي بها إذا كانت لديك مشكله من هذه القائمة.
4. أعد إنشاء الطلب باستخدام [مستكشف الرسومات البيانية](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) لجمع معلومات اضافيه وقواعد اي مشاكل في واجهه المستخدم.

**المستندات المستحسنة**

- [التحقق من الناشر-نظره عامه](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [وضع علامة علي التطبيق لان publisher قد تم التحقق منه](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [استكشاف أخطاء التحقق من الناشر وإصلاحها](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

