---
title: استكشاف أخطاء التحقق من الناشر وإصلاحها
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: ar-SA
ms.lasthandoff: 01/15/2021
ms.locfileid: "49884759"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="74d4e-102">المشاكل المتعلقة بالتحقق من الناشرين للمطورين</span><span class="sxs-lookup"><span data-stu-id="74d4e-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="74d4e-103">**الخطوات الموصي بها**</span><span class="sxs-lookup"><span data-stu-id="74d4e-103">**Recommended steps**</span></span> 

<span data-ttu-id="74d4e-104">لحل المشاكل المتعلقة بالتحقق من الصحة في publisher ، قم بتنفيذ الخطوات التالية:</span><span class="sxs-lookup"><span data-stu-id="74d4e-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="74d4e-105">راجع المتطلبات الاساسيه والمتطلبات الأخرى لضمان استيفاء الكل.</span><span class="sxs-lookup"><span data-stu-id="74d4e-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="74d4e-106">راجع الإرشادات [لوضع علامة علي تطبيق لان publisher تم التحقق](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) منه والتاكد من تنفيذ كل الخطوات بنجاح.</span><span class="sxs-lookup"><span data-stu-id="74d4e-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="74d4e-107">راجع قائمه [المشاكل الشائعة](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) واتبع الخطوات الموصي بها إذا كانت لديك مشكله من هذه القائمة.</span><span class="sxs-lookup"><span data-stu-id="74d4e-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="74d4e-108">أعد إنشاء الطلب باستخدام [مستكشف الرسومات البيانية](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) لجمع معلومات اضافيه وقواعد اي مشاكل في واجهه المستخدم.</span><span class="sxs-lookup"><span data-stu-id="74d4e-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="74d4e-109">**المستندات المستحسنة**</span><span class="sxs-lookup"><span data-stu-id="74d4e-109">**Recommended documents**</span></span>

- [<span data-ttu-id="74d4e-110">التحقق من الناشر-نظره عامه</span><span class="sxs-lookup"><span data-stu-id="74d4e-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="74d4e-111">وضع علامة علي التطبيق لان publisher قد تم التحقق منه</span><span class="sxs-lookup"><span data-stu-id="74d4e-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="74d4e-112">استكشاف أخطاء التحقق من الناشر وإصلاحها</span><span class="sxs-lookup"><span data-stu-id="74d4e-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

